<section class="newsletter">
    <h1 class="newsletter__title">Personally Newsletter</h1>
    <p class="newsletter__description">A bi-weekly newsletter of design inspiration,&nbsp;
        resources and anything related to career development.</p>
    <form class="newsletter__form" action="{% url 'newsletter' %}" method="post">
        {% csrf_token %}
        {{ newsletter_form.email }}
        {{ newsletter_form.email.errors }}
        <input value="submit" class="newsletter__button btn" type="submit">
    </form>

</section>
{% if messages %}

{% endif %}