{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}
    blog
{% endblock %}
{% block content %}
    {% render_partial 'home.views.intro_component' %}
    <section class="articles">
        <div class="articles__main">
            <div class="articles__view-all container">
                <h2>general</h2>
                <a class="btn btn--primary" href="#">View all</a>
            </div>
            {% for article in articles_general %}
                <div class="articles__item">
                    <div class="articles__body">
                        <span class="articles__date">{{ article.create_date }}</span>
                        <h2 class="articles__title">
                            <a href="{% url 'single_article' slug=article.slug %}">
                                {{ article.title }}
                            </a>
                        </h2>
                        <p class="articles__description">
                            {{ article.short_description }}
                        </p>
                    </div>
                    <picture class="articles__image">
                        <source
                                class="articles__image-mobile"
                                media="(max-width:640px)"
                                srcset="{{ article.image.url }}"
                        />
                        <source
                                class="articles__image-tablet"
                                media="(max-width:768px)"
                                srcset="{{ article.image.url }}"
                        />
                        <img
                                class="articles__image-default"
                                src="{{ article.image.url }}"
                                alt="{{ article.title }}"
                        />
                    </picture>
                </div>
            {% endfor %}

            <div class="articles__view-all container">
                <h2>web</h2>
                <a class="btn btn--primary" href="#">View all</a>
            </div>
            {% for article in articles_web %}
                <div class="articles__item">
                    <div class="articles__body">
                        <span class="articles__date">{{ article.create_date }}</span>
                        <h2 class="articles__title">
                            <a href="{% url 'single_article' slug=article.slug %}">
                                {{ article.title }}
                            </a>
                        </h2>
                        <p class="articles__description">
                            {{ article.short_description }}
                        </p>
                    </div>
                    <picture class="articles__image">
                        <source
                                class="articles__image-mobile"
                                media="(max-width:640px)"
                                srcset="{{ article.image.url }}"
                        />
                        <source
                                class="articles__image-tablet"
                                media="(max-width:768px)"
                                srcset="{{ article.image.url }}"
                        />
                        <img
                                class="articles__image-default"
                                src="{{ article.image.url }}"
                                alt="{{ article.title }}"
                        />
                    </picture>
                </div>
            {% endfor %}

            <div class="articles__view-all container">
                <h2>programming</h2>
                <a class="btn btn--primary" href="#">View all</a>
            </div>
            {% for article in articles_programming %}
                <div class="articles__item">
                    <div class="articles__body">
                        <span class="articles__date">{{ article.create_date }}</span>
                        <h2 class="articles__title">
                            <a href="{% url 'single_article' slug=article.slug %}">
                                {{ article.title }}
                            </a>
                        </h2>
                        <p class="articles__description">
                            {{ article.short_description }}
                        </p>
                    </div>
                    <picture class="articles__image">
                        <source
                                class="articles__image-mobile"
                                media="(max-width:640px)"
                                srcset="{{ article.image.url }}"
                        />
                        <source
                                class="articles__image-tablet"
                                media="(max-width:768px)"
                                srcset="{{ article.image.url }}"
                        />
                        <img
                                class="articles__image-default"
                                src="{{ article.image.url }}"
                                alt="{{ article.title }}"
                        />
                    </picture>
                </div>
            {% endfor %}

        </div>
    </section>
{% endblock %}
