{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load sorl_thumbnail %}
{% block title %}change password{% endblock %}
{% block content %}
    <div class="user-profile container">
        {% render_partial 'user_profile.views.user_profile_options' edit_profile_form=change_password_form %}
        <div class="user-profile__main">
            <div class="user-profile__heading">
                <h2>User Info</h2>
                <picture class="user-profile__image">
                    {% if user.avatar %}
                        {% thumbnail user.avatar "100x100" crop="center" quality=90 as img %}
                            <img class="user-profile__avatar" src="{{ img.url }}" alt="">
                        {% endthumbnail %}
                    {% else %}
                        <img class="user-profile__avatar" src="/static/assets/images/avatar.jpg" alt="">
                    {% endif %}
                </picture>
            </div>
            <form class="edit-profile-form" method="post" action="{% url 'change_password' %} ">
                {% csrf_token %}
                <div class="user-profile__body">
                    <div class="user-profile__item">
                        <span class="user-profile__item-name">{{ change_password_form.old_password.label }}</span>
                        {{ change_password_form.old_password }}
                    </div>
                    <div class="user-profile__item">
                        <span class="user-profile__item-name">{{ change_password_form.new_password.label }}</span>
                        {{ change_password_form.new_password }}
                    </div>
                    <div class="user-profile__item">
                        <span class="user-profile__item-name">{{ change_password_form.confirm_new_password.label }}</span>
                        {{ change_password_form.confirm_new_password }}
                    </div>

                </div>
                <input value="submit" type="submit" class="btn btn--block btn--success edit-profile-btn" href="">
            </form>

        </div>
    </div>

{% endblock %}