{% extends 'shared/_layout.html' %}
{% load static %}
{% load sorl_thumbnail %}
{% load render_partial %}
{% block title %}
edit profile
{% endblock %}
{% block content %}

    <div class="user-profile container">
        {% render_partial 'user_profile.views.user_profile_options' %}
        <div class="user-profile__main">
            <div class="user-profile__heading">
                <h2>User Info</h3>
                    <picture class="user-profile__image">
                        {% if user.avatar %}
                            {% thumbnail user.avatar "100x100" crop="center" quality=90 as img %}
                            <img class="user-profile__avatar" src="{{ img.url }}" alt="">
                            {% endthumbnail %}
                        {% else %}
                            <img class="user-profile__avatar" src="/static/assets/images/avatar.jpg" alt="">
                        {% endif %}
                    </picture>
            </div>
            <div class="user-profile__body">
                <div class="user-profile__item">
                    <span class="user-profile__item-name">Name : </span>
                    <input class="user-profile__item-input" type="text" value="{{ user.first_name }}">
                </div>
                <div class="user-profile__item">
                    <span class="user-profile__item-name">Family : </span>
                    <input class="user-profile__item-input" type="text" value="{{ user.last_name }}">
                </div>
                <div class="user-profile__item">
                    <span class="user-profile__item-name">Email : </span>
                    <input class="user-profile__item-input" type="text" value="{{ user.email }}">
                </div>
            </div>
            <div class="user-profile__item user-profile__about">
                <span class="user-profile__item-name">About:</span>
                <textarea class="user-profile__item-input user-profile__textarea" resizable rows="10" type="text">
                    {{ user.about_us }}
              </textarea>
            </div>
        </div>
    </div>
{% endblock %}