{% extends 'shared/_layout.html' %}
{% load sorl_thumbnail %}
{% load render_partial %}
{% block title %}
    {{ single_article.title }}
{% endblock %}
{% block content %}
    <article class="article container">
        <div class="article__heading">
            <h1 class="article__title">{{ single_article.title }}</h1>
            <div class="article__detail">
                <span class="article__date">{{ single_article.create_date }}</span>
                <span class="article__category">{{ single_article.category.name }}</span>
            </div>
        </div>
        {% thumbnail single_article.image "800x400" crop="center" quality=100 as im %}
            <picture class="article__image">
                <source
                        class="article__image-mobile"
                        media="(max-width:640px)"
                        srcset="{{ im.url }}"
                >
                <img class="article__image-default" src="{{ im.url }}" alt="">
            </picture>
        {% endthumbnail %}
        <div class="article__body">
            <div class="article__description">
                {{ single_article.description |safe }}
            </div>
        </div>
        {% render_partial 'article.views.AuthorArticle' single_article=single_article %}
        {% render_partial 'article.views.RecommendationArticle' categories=categories %}
        {% render_partial 'article.views.CommentArticle' single_article=single_article %}
    </article>
{% endblock %}