{% extends 'shared/_layout.html' %}
{% load sorl_thumbnail %}
{% block title %}
    {{ single_article.title }}
{% endblock %}
{% block content %}
    <article class="article container">
        <div class="article__heading">
            <h1 class="article__title">{{ single_article.title }}</h1>
            <div class="article__detail">
                <span class="article__date">{{ single_article.create_date }}</span>
                <span class="article__category">{{ single_article.category.name }}</span>
            </div>
        </div>
        {% thumbnail single_article.image "800x400" crop="center" quality=100 as im %}
            <picture class="article__image">
                <source
                        class="article__image-mobile"
                        media="(max-width:640px)"
                        srcset="{{ im.url }}"
                >
                <img class="article__image-default" src="{{ im.url }}" alt="">
            </picture>
        {% endthumbnail %}
        <div class="article__body">
            <div class="article__description">
                {{ single_article.description |safe }}
            </div>
        </div>
        <div class="article__author">
            {% if single_article.author.avatar %}
                {% thumbnail single_article.author.avatar "100x100" crop="center" quality=100 as im %}
                    <img class="article__author-image" src="{{ im.url }}" alt="">
                {% endthumbnail %}
            {% else %}
                <img class="article__author-image" src="/static/assets/images/avatar.jpg" alt="">
            {% endif %}
            <div class="article__author-body">
                <p class="article__author-name">{{ single_article.author.get_full_name |capfirst }}</p>
                <p class="article__author-about">{{ single_article.author.about_us }}</p>
            </div>
        </div>
        <div class="article__recommendation">
            <h2 class="article__recommendation-heading">
                recommendation
            </h2>
            {% for category in categories|slice:":1" %}
                {% for article in category.article_set.all|slice:":3" %}
                    <div class="article__recommendation-item articles__item">
                        <div class="articles__body">
                            <span class="articles__date">{{ article.create_date }}</span>
                            <h2 class="articles__title">
                                {{ article.title }}
                            </h2>
                            <p class="articles__description">
                                {{ article.short_description }}
                            </p>
                        </div>
                        {% thumbnail article.image "253x220" crop='center' quality=10 as im %}
                        <picture class="articles__image">
                            <source class="articles__image-mobile" media="(max-width:640px)"
                                    srcset="{{ im.url }}">
                            <source class="articles__image-tablet" media="(max-width:768px)"
                                    srcset="{{ im.url }}">
                            <img class="articles__image-default" src="{{ im.url }}"
                                 alt="">
                        </picture>
                    {% endthumbnail %}
                    </div>
                {% endfor %}
            {% endfor %}


        </div>
    </article>
{% endblock %}