{% extends 'shared/_layout.html' %}
{% block title %}

{% endblock %}
{% block content %}
    <article class="article container">
        <div class="article__heading">
            <h1 class="article__title">{{ single_article.title }}</h1>
            <div class="article__detail">
                <span class="article__date">{{ single_article.create_date }}</span>
                <span class="article__category">{{ single_article.category.name }}</span>
            </div>
        </div>
        <picture class="article__image">
            <source
                    class="article__image-mobile"
                    media="(max-width:640px)"
                    srcset="{{ single_article.image.url }}"
            >
            <img class="article__image-default" src="{{ single_article.image.url }}" alt="">
        </picture>
        <div class="article__body">
            <div class="article__description">
                {{ single_article.description |safe }}
            </div>
        </div>
        <div class="article__author">
            {% if single_article.author.avatar %}
                <img class="article__author-image" src="{{ single_article.author.avatar.url }}" alt="">
            {% else %}
                <img class="article__author-image" src="/static/assets/images/avatar.jpg" alt="">
            {% endif %}
            <div class="article__author-body">
                <p class="article__author-name">{{ single_article.author.get_full_name }}</p>
                <p class="article__author-about">test</p>
            </div>
        </div>
    </article>
{% endblock %}