<ul class="user-profile__options">
    <li class="user-profile__option"><a href="{% url 'user_profile' %}">user profile</a></li>
    <li class="user-profile__option"><a href="{% url 'edit_profile' %}">Edit profile</a></li>
    <li class="user-profile__option"><a href="#">change password</a></li>
    <li class="user-profile__option"><a href="{% url 'logout' %}">Logout</a></li>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %}
                    class="{{ message.tags }}" {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if edit_profile_form.errors %}
        <div class="error-form">
            {% for field in edit_profile_form %}
                {% for error in field.errors %}
                    <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

</ul>