{% extends 'shared/_layout.html' %}
{% block title %}
forgot password
{% endblock %}
{% block content %}
<div class="account">
        <div class="forgot-password">
            <form class="forgot-password__form" action="" method="post">
                {% csrf_token %}
                <h2>forgot password</h2>
                <div class="form-item">
                    {{ forgot_password_form.email }}
                    {{ forgot_password_form.email.errors }}
                </div>
                <button type="submit" class="login__btn btn btn--success">reset password</button>
            </form>
        </div>
    </div>
{% endblock %}