{% extends 'shared/_layout.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <div class="account">
        <div class="login">
            <form class="login__form" action="" method="post">
                {% csrf_token %}
                <h2>Login</h2>
                <div class="form-item">
                    {{ login_form.email }}
                    {{ login_form.email.errors }}
                </div>
                <div class="form-item">
                    {{ login_form.password }}
                    {{ login_form.password.errors }}
                </div>
                <p class="forgot-password-link">Forgot Password ? <a href="#">Click Here</a></p>
                <button type="submit" class="login__btn btn btn--success">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
