{% extends 'shared/_layout.html' %}
{% block title %}
reset password
{% endblock %}
{% block content %}
    <div class="account">
        <div class="reset-password">
            <form class="reset-password__form" action="" method="post">
                {% csrf_token %}
                <h2>reset-password</h2>
                <div class="form-item">
                    {{ reset_password_form.password }}
                    {{ reset_password_form.password.errors }}
                </div>
                <div class="form-item">
                    {{ reset_password_form.confirm_password }}
                    {{ reset_password_form.confirm_password.errors }}
                </div>
                <button type="submit" class="login__btn btn btn--success">reset</button>
            </form>
        </div>
    </div>
{% endblock %}