{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/font.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% render_partial 'home.views.header_component' %}
<main class="main">
    {% render_partial 'home.views.intro_component' %}
    {% block content %}

    {% endblock %}

    <div class="separator"/>
    </div>
    <footer class="footer">
        <p>Copyright 2022 - Reza Shakeri</p>
    </footer>
</main>
</body>
<script src="/js/main.js"></script>
</html>
