<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>home Page</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar container block">
        <a class="navbar__logo" href="#">
          <img src="/static/assets/images/personally-logo.svg" alt="logo" />
        </a>
        <div class="navbar__toggler">
          <div class="bar bar-one"></div>
          <div class="bar bar-two"></div>
          <div class="bar bar-three"></div>
        </div>
        <div class="navbar__list">
          <ul class="navbar__links">
            <li class="navbar__link"><a href="#">Daily Digest</a></li>
            <li class="navbar__link"><a href="#">Design Tools</a></li>
            <li class="navbar__link"><a href="#">Tutorials</a></li>
            <a class="navbar__cta btn" href="#">Subscribe</a>
          </ul>
        </div>
      </nav>
    </header>
    <main class="main">
      <section class="intro container block">
        <span class="intro__badge badge"> 👋 Meet Personally </span>
        <h1 class="intro__title">
          Minimal blog template for creative expressions
        </h1>
        <p class="intro__description">
          Customisable and SEO-friendly blog template for personal and
          commercial purposes.
        </p>
      </section>
      <section class="articles">
        <div class="articles__main">
          <div class="articles__view-all container">
            <h2>Daily Digest</h2>
            <a class="btn btn--primary" href="#">View all</a>
          </div>
          <div class="articles__item">
            <div class="articles__body">
              <span class="articles__date">AUGust 13, 2021 </span>
              <h2 class="articles__title">
                10 Hilarious Cartoons That Depict Real-Life Problems of
                Programmers
              </h2>
              <p class="articles__description">
                Redefined the user acquisition and redesigned the onboarding
                experience, all within 3 working weeks.
              </p>
            </div>
            <picture class="articles__image">
              <source
                class="articles__image-mobile"
                media="(max-width:640px)"
                srcset="/static/assets/images/articles_Thumbnail_mobile.svg"
              />
              <source
                class="articles__image-tablet"
                media="(max-width:768px)"
                srcset="/static/assets/images/articles_Thumbnail_tablet.svg"
              />
              <img
                class="articles__image-default"
                src="/static/assets/images/articles_Thumbnail_desktop.svg"
                alt=""
              />
            </picture>
          </div>
          <div class="articles__item">
            <div class="articles__body">
              <div class="articles__date">AUGust 13, 2021</div>
              <h2 class="articles__title">
                10 Hilarious Cartoons That Depict Real-Life Problems of
                Programmers
              </h2>
              <p class="articles__description">
                Redefined the user acquisition and redesigned the onboarding
                experience, all within 3 working weeks.
              </p>
            </div>
            <picture class="articles__image">
              <source
                class="articles__image-mobile"
                media="(max-width:640px)"
                srcset="/static/assets/images/articles_Thumbnail_1_mobile.svg"
              />
              <source
                class="articles__image-tablet"
                media="(max-width:768px)"
                srcset="/static/assets/images/articles_Thumbnail_1_mobile.svg"
              />
              <img
                class="articles__image-default"
                src="/static/assets/images/articles_Thumbnail_1_mobile.svg"
                alt=""
              />
            </picture>
          </div>
          <div class="articles__item">
            <div class="articles__body">
              <span class="articles__date">AUGust 13, 2021 </span>
              <h2 class="articles__title">
                10 Hilarious Cartoons That Depict Real-Life Problems of
                Programmers
              </h2>
              <p class="articles__description">
                Redefined the user acquisition and redesigned the onboarding
                experience, all within 3 working weeks.
              </p>
            </div>
            <picture class="articles__image">
              <source
                class="articles__image-mobile"
                media="(max-width:640px)"
                srcset="/static/assets/images/articles_Thumbnail_2_mobile.svg"
              />
              <source
                class="articles__image-tablet"
                media="(max-width:768px)"
                srcset="/static/assets/images/articles_Thumbnail_2_mobile.svg"
              />
              <img
                class="articles__image-default"
                src="/static/assets/images/articles_Thumbnail_2_mobile.svg"
                alt=""
              />
            </picture>
          </div>
        </div>

        <div class="articles__view-all container">
          <h2>Design Tools</h2>
          <a class="btn btn--primary" href="#">View all</a>
        </div>
        <div class="articles__item">
          <div class="articles__body">
            <span class="articles__date">AUGust 13, 2021 </span>
            <h2 class="articles__title">
              10 Hilarious Cartoons That Depict Real-Life Problems of
              Programmers
            </h2>
            <p class="articles__description">
              Redefined the user acquisition and redesigned the onboarding
              experience, all within 3 working weeks.
            </p>
          </div>
          <picture class="articles__image">
            <source
              class="articles__image-mobile"
              media="(max-width:640px)"
              srcset="/static/assets/images/articles_Thumbnail_3_mobile.svg"
            >
            <source
              class="articles__image-tablet"
              media="(max-width:768px)"
              srcset="/static/assets/images/articles_Thumbnail_3_mobile.svg"
            >
            <img
              class="articles__image-default"
              src="/static/assets/images/articles_Thumbnail_3_mobile.svg"
              alt=""
            />
          </picture>
        </div>
        <div class="articles__item">
          <div class="articles__body">
            <div class="articles__date">AUGust 13, 2021</div>
            <h2 class="articles__title">
              10 Hilarious Cartoons That Depict Real-Life Problems of
              Programmers
            </h2>
            <p class="articles__description">
              Redefined the user acquisition and redesigned the onboarding
              experience, all within 3 working weeks.
            </p>
          </div>
          <picture class="articles__image">
            <source
              class="articles__image-mobile"
              media="(max-width:640px)"
              srcset="/static/assets/images/articles_Thumbnail_4_mobile.svg"
            >
            <source
              class="articles__image-tablet"
              media="(max-width:768px)"
              srcset="/static/assets/images/articles_Thumbnail_4_mobile.svg"
            >
            <img
              class="articles__image-default"
              src="/static/assets/images/articles_Thumbnail_4_mobile.svg"
              alt=""
            />
          </picture>
        </div>
        <div class="articles__item">
          <div class="articles__body">
            <span class="articles__date">AUGust 13, 2021 </span>
            <h2 class="articles__title">
              10 Hilarious Cartoons That Depict Real-Life Problems of
              Programmers
            </h2>
            <p class="articles__description">
              Redefined the user acquisition and redesigned the onboarding
              experience, all within 3 working weeks.
            </p>
          </div>
          <picture class="articles__image">
            <source
              class="articles__image-mobile"
              media="(max-width:640px)"
              srcset="/static/assets/images/articles_Thumbnail_5_mobile.svg"
            >
            <source
              class="articles__image-tablet"
              media="(max-width:768px)"
              srcset="/static/assets/images/articles_Thumbnail_5_mobile.svg"
            >
            <img
              class="articles__image-default"
              src="/static/assets/images/articles_Thumbnail_5_mobile.svg"
              alt=""
            />
          </picture>
        </div>
        
        <div class="articles__view-all container">
          <h2>Tutorials</h2>
          <a class="btn btn--primary" href="#">View all</a>
        </div>
        <div class="articles__item">
          <div class="articles__body">
            <span class="articles__date">AUGust 13, 2021 </span>
            <h2 class="articles__title">
              10 Hilarious Cartoons That Depict Real-Life Problems of
              Programmers
            </h2>
            <p class="articles__description">
              Redefined the user acquisition and redesigned the onboarding
              experience, all within 3 working weeks.
            </p>
          </div>
          <picture class="articles__image">
            <source
              class="articles__image-mobile"
              media="(max-width:640px)"
              srcset="/static/assets/images/articles_Thumbnail_6_mobile.svg"
            >
            <source
              class="articles__image-tablet"
              media="(max-width:768px)"
              srcset="/static/assets/images/articles_Thumbnail_6_mobile.svg"
            >
            <img
              class="articles__image-default"
              src="/static/assets/images/articles_Thumbnail_6_mobile.svg"
              alt=""
            />
          </picture>
        </div>
        <div class="articles__item">
          <div class="articles__body">
            <div class="articles__date">AUGust 13, 2021</div>
            <h2 class="articles__title">
              10 Hilarious Cartoons That Depict Real-Life Problems of
              Programmers
            </h2>
            <p class="articles__description">
              Redefined the user acquisition and redesigned the onboarding
              experience, all within 3 working weeks.
            </p>
          </div>
          <picture class="articles__image">
            <source
              class="articles__image-mobile"
              media="(max-width:640px)"
              srcset="/static/assets/images/articles_Thumbnail_7_mobile.svg"
            >
            <source
              class="articles__image-tablet"
              media="(max-width:768px)"
              srcset="/static/assets/images/articles_Thumbnail_7_mobile.svg"
            >
            <img
              class="articles__image-default"
              src="/static/assets/images/articles_Thumbnail_7_mobile.svg"
              alt=""
            />
          </picture>
        </div>
        <div class="articles__item">
          <div class="articles__body">
            <span class="articles__date">AUGust 13, 2021 </span>
            <h2 class="articles__title">
              10 Hilarious Cartoons That Depict Real-Life Problems of
              Programmers
            </h2>
            <p class="articles__description">
              Redefined the user acquisition and redesigned the onboarding
              experience, all within 3 working weeks.
            </p>
          </div>
          <picture class="articles__image">
            <source
              class="articles__image-mobile"
              media="(max-width:640px)"
              srcset="/static/assets/images/articles_Thumbnail_8_mobile.svg"
            >
            <source
              class="articles__image-tablet"
              media="(max-width:768px)"
              srcset="/static/assets/images/articles_Thumbnail_8_mobile.svg"
            >
            <img
              class="articles__image-default"
              src="/static/assets/images/articles_Thumbnail_5_mobile.svg"
              alt=""
            />
          </picture>
        </div>


      </div>
      </section>
      <section class="newsletter">
        <h1 class="newsletter__title">Personally Newsletter</h1>
        <p class="newsletter__description">A bi-weekly newsletter of design inspiration,&nbsp;
           resources and anything related to career development.</p>
        <form class="newsletter__form" action="">
          <input placeholder="Email Address" class="newsletter__input" type="text">
          <input class="newsletter__button btn" type="submit">
        </form>
      </section>
      <div class="separator"/></div>
    <footer class="footer">
      <p>Copyright 2022 - Reza Shakeri</p>
    </footer>
    </main>
  </body>
  <script src="/js/main.js"></script>
</html>
