{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% render_partial 'home.views.header_component' %}
<main class="main">
    {% render_partial 'home.views.intro_component' %}
    {% block content %}

    {% endblock %}
    {% render_partial 'home.views.newsletter_component' %}
    <div class="separator">
    </div>
    {% render_partial 'home.views.footer_component' %}
</main>
</body>
<script src="/static/js/main.js"></script>
</html>
