<header class="header">
    <nav class="navbar container block">
        <a class="navbar__logo" href="{{ site.site_url }}">
            <img src="{{ site.site_logo.url }}" alt="logo"/>
        </a>
        <div class="navbar__toggler">
            <div class="bar bar-one"></div>
            <div class="bar bar-two"></div>
            <div class="bar bar-three"></div>
        </div>
        <div class="navbar__list">
            <ul class="navbar__links">
                {% for link in links %}
                    <li class="navbar__link"><a href="{{ link.url }}">{{ link.name|capfirst }}</a></li>
                {% endfor %}
                {% if user.is_authenticated %}
                    <li class="navbar__link"><a href="{% url 'login' %}">welcome</a></li>
                {% else %}
                    <li class="navbar__link"><a href="{% url 'login' %}">Login</a></li>
                    <li class="navbar__link"><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>