<header class="header">
    <nav class="navbar container block">
        <a class="navbar__logo" href="#">
            <img src="/static/assets/images/personally-logo.svg" alt="logo"/>
        </a>
        <div class="navbar__toggler">
            <div class="bar bar-one"></div>
            <div class="bar bar-two"></div>
            <div class="bar bar-three"></div>
        </div>
        <div class="navbar__list">
            <ul class="navbar__links">
                {% for link in links %}
                    <li class="navbar__link"><a href="{{ link.link }}">{{ link.name }}</a></li>
                {% endfor %}

                <a class="navbar__cta btn" href="#">Subscribe</a>
            </ul>
        </div>
    </nav>
</header>
